# Solana / Anchor
.anchor/
target/
**/*.rs.bak

# Node
node_modules/
dist/
.npm/

# Environment — JANGAN PERNAH upload file ini
.env
.env.local
*.pem
id.json
wallet.json
*keypair*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/

# Logs
*.log

# Build artifacts
*.d.ts
*.js.map
